In [94]:
import pandas as pd

# Load the dataset
df = pd.read_csv('./complete_meal_with_nutrition2_final.csv')
df.head()

,Main Meal,Side Meal,Complete Meal,Ingredients,Quantities,Meal_Ingredient_Ids,Energy(Kcal),Protein(g),Total fat(g),Carbohydrates(g),...,Phosphorus(mg),Magnesium(mg),Sodium(mg),Potassium(mg),Saturated Fatty Acids(mg),Monounsaturated Fatty Acids(mg),Polyunsaturated Fatty Acids(mg),Free sugar(g),Starch(g),Meal Time
0,Kottu Roti,Chicken Curry,Kottu Roti with Chicken Curry,"Roti, carrot, leeks, Chicken, Coconut Oil, Ch...","30.0, 20.0, 27.5, 60.0, 5.0, 2.5, 10.0, 5.0","SLI019, SLB002, SLD055, SLH006, SLK004, SLK002...",614.4,16.668,57.858,33.294,...,284.427,165.981,45.792,998.376,13702.749,4716.747,1464.981,4.158,26.031,Dinner
1,Kottu Roti,Chicken Curry,Kottu Roti with Chicken Curry,"Roti, carrot, leeks, Chicken, Coconut Oil, Ch...","30.0, 20.0, 27.5, 60.0, 5.0, 2.5, 10.0, 5.0","SLI019, SLB002, SLD055, SLH006, SLK004, SLK002...",614.4,16.668,57.858,33.294,...,284.427,165.981,45.792,998.376,13702.749,4716.747,1464.981,4.158,26.031,Dinner
2,Kottu Roti,Devilled Chicken,Kottu Roti with Devilled Chicken,"Roti, carrot, leeks, Chicken, Coconut Oil, Ch...","30.0, 20.0, 27.5, 70.0, 5.0, 7.5, 10.0, 20.0","SLI019, SLB002, SLD055, SLH006, SLK004, SLK002...",486.3,14.127,34.128,29.394,...,165.102,109.740,41.619,670.476,614.352,432.540,722.118,1.836,25.659,Dinner
3,Kottu Roti,Devilled Fish,Kottu Roti with Devilled Fish,"Roti, carrot, leeks, Chicken, Coconut Oil, Ch...","30.0, 20.0, 27.5, 20.0, 5.0, 7.5, 50.0, 5.0, 20.0","SLI019, SLB002, SLD055, SLH006, SLK004, SLK002...",486.3,14.127,34.128,29.394,...,165.102,109.740,41.619,670.476,614.352,432.540,722.118,1.836,25.659,Dinner
4,Kottu Roti,Seer Fish Curry,Kottu Roti with Seer Fish Curry,"Roti, carrot, leeks, Chicken, Coconut Oil, Ch...","30.0, 20.0, 27.5, 20.0, 5.0, 12.5, 50.0, 25.0","SLI019, SLB002, SLD055, SLH006, SLK004, SLK002...",501.6,18.051,35.292,27.480,...,226.227,43.074,40.941,523.176,1179.549,741.147,946.281,1.506,24.447,Dinner

In [95]:
# in Meal time column some rows '/' seperated difference values so we need to split them and create new rows so that each split and add into list and add dataset again
df = df.assign(Meal_time=df['Meal Time'].str.split('/')).explode('Meal_time')

In [96]:
df.head()

,Main Meal,Side Meal,Complete Meal,Ingredients,Quantities,Meal_Ingredient_Ids,Energy(Kcal),Protein(g),Total fat(g),Carbohydrates(g),...,Magnesium(mg),Sodium(mg),Potassium(mg),Saturated Fatty Acids(mg),Monounsaturated Fatty Acids(mg),Polyunsaturated Fatty Acids(mg),Free sugar(g),Starch(g),Meal Time,Meal_time
0,Kottu Roti,Chicken Curry,Kottu Roti with Chicken Curry,"Roti, carrot, leeks, Chicken, Coconut Oil, Ch...","30.0, 20.0, 27.5, 60.0, 5.0, 2.5, 10.0, 5.0","SLI019, SLB002, SLD055, SLH006, SLK004, SLK002...",614.4,16.668,57.858,33.294,...,165.981,45.792,998.376,13702.749,4716.747,1464.981,4.158,26.031,Dinner,Dinner
1,Kottu Roti,Chicken Curry,Kottu Roti with Chicken Curry,"Roti, carrot, leeks, Chicken, Coconut Oil, Ch...","30.0, 20.0, 27.5, 60.0, 5.0, 2.5, 10.0, 5.0","SLI019, SLB002, SLD055, SLH006, SLK004, SLK002...",614.4,16.668,57.858,33.294,...,165.981,45.792,998.376,13702.749,4716.747,1464.981,4.158,26.031,Dinner,Dinner
2,Kottu Roti,Devilled Chicken,Kottu Roti with Devilled Chicken,"Roti, carrot, leeks, Chicken, Coconut Oil, Ch...","30.0, 20.0, 27.5, 70.0, 5.0, 7.5, 10.0, 20.0","SLI019, SLB002, SLD055, SLH006, SLK004, SLK002...",486.3,14.127,34.128,29.394,...,109.740,41.619,670.476,614.352,432.540,722.118,1.836,25.659,Dinner,Dinner
3,Kottu Roti,Devilled Fish,Kottu Roti with Devilled Fish,"Roti, carrot, leeks, Chicken, Coconut Oil, Ch...","30.0, 20.0, 27.5, 20.0, 5.0, 7.5, 50.0, 5.0, 20.0","SLI019, SLB002, SLD055, SLH006, SLK004, SLK002...",486.3,14.127,34.128,29.394,...,109.740,41.619,670.476,614.352,432.540,722.118,1.836,25.659,Dinner,Dinner
4,Kottu Roti,Seer Fish Curry,Kottu Roti with Seer Fish Curry,"Roti, carrot, leeks, Chicken, Coconut Oil, Ch...","30.0, 20.0, 27.5, 20.0, 5.0, 12.5, 50.0, 25.0","SLI019, SLB002, SLD055, SLH006, SLK004, SLK002...",501.6,18.051,35.292,27.480,...,43.074,40.941,523.176,1179.549,741.147,946.281,1.506,24.447,Dinner,Dinner

In [97]:
df[df['Meal_time'] == 'Lunch']

,Main Meal,Side Meal,Complete Meal,Ingredients,Quantities,Meal_Ingredient_Ids,Energy(Kcal),Protein(g),Total fat(g),Carbohydrates(g),...,Magnesium(mg),Sodium(mg),Potassium(mg),Saturated Fatty Acids(mg),Monounsaturated Fatty Acids(mg),Polyunsaturated Fatty Acids(mg),Free sugar(g),Starch(g),Meal Time,Meal_time
13,Lamprais,Chicken Curry,Lamprais with Chicken Curry,"Rice, Meat, Spices, Coconut milk","100.0, 70.0, 15.0, 10.0","SLA008, SLH006, SLK006, SLI005",1056.0,49.28,91.48,98.79,...,488.78,83.53,2514.0,45377.00,15707.00,4012.00,8.98,81.34,Lunch/Dinner,Lunch
14,Lamprais,Chicken Curry,Lamprais with Chicken Curry,"Rice, Meat, Spices, Coconut milk","100.0, 70.0, 15.0, 10.0","SLA008, SLH006, SLK006, SLI005",1056.0,49.28,91.48,98.79,...,488.78,83.53,2514.0,45377.00,15707.00,4012.00,8.98,81.34,Lunch/Dinner,Lunch
30,Vegetable Fried Rice,Chicken Curry,Vegetable Fried Rice with Chicken Curry,"Rice, carrot, leeks, onion, Spices, curry lea...","100.0, 20.0, 20.0, 5.0, 8.0, 2.5, 40.0, 10.0","SLA008, SLB002, SLD055, SLD060, SLK006, SLK009...",1201.0,61.07,93.72,114.85,...,771.20,187.35,3980.0,45955.76,15798.03,5121.79,14.02,90.32,Lunch/Dinner,Lunch
31,Vegetable Fried Rice,Parippu,Vegetable Fried Rice with Parippu,"Rice, carrot, leeks, onion, Spices, curry lea...","100.0, 20.0, 20.0, 5.0, 3.0, 2.5, 10.0, 10.0, 5.0","SLA008, SLB002, SLD055, SLD060, SLK006, SLK009...",1625.0,68.48,90.29,217.58,...,1055.65,193.18,6921.0,46973.82,15304.03,7066.79,17.23,177.04,Lunch/Dinner,Lunch
32,Vegetable Fried Rice,Wambatu Moju,Vegetable Fried Rice with Wambatu Moju,"Rice, carrot, leeks, onion, Spices, curry lea...","100.0, 20.0, 20.0, 10.0, 3.0, 2.5, 20.0, 0.5, 5.0","SLA008, SLB002, SLD055, SLD060, SLK006, SLK009...",820.0,32.13,21.60,110.41,...,688.60,142.92,3294.0,2228.72,11169.48,3959.79,8.74,91.44,Lunch/Dinner,Lunch
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,Fish Biryani,"Chicken Curry, Devilled Chicken, Devilled Fish...","Fish Biryani with Chicken Curry, Devilled Chic...","Rice, Fish, onion, Spices, curry leaves, Chi...","100, 100.0, 60.0, 10.0, 18.0, 90.0, 10.0, 10.0...","SLA008, SLF006, SLD060, SLK006, SLK009, SLH006...",1391.0,72.09,96.52,145.22,...,807.85,195.64,4365.0,45969.77,15829.78,5399.80,19.53,89.52,Lunch/Dinner,Lunch
649,Fish Biryani,"Devilled Chicken, Chickpea Salad, Devilled Bee...","Fish Biryani with Devilled Chicken, Chickpea S...","Rice, Fish, onion, Spices, curry leaves, Chi...","100, 50, 40.0, 5, 13.0, 100.0, 20.0, 60.0, 30....","SLA008, SLF006, SLD060, SLK006, SLK009, SLH006...",2252.0,90.33,141.59,145.70,...,815.90,243.05,4489.0,6311.85,15518.52,5293.07,14.41,93.35,Lunch/Dinner,Lunch
650,Fish Biryani,"Chicken Curry, Chicken Curry, Ginger Chicken, ...","Fish Biryani with Chicken Curry, Chicken Curry...","Rice, Fish, onion, Spices, curry leaves, Chi...","100, 50, 20, 15.0, 3, 130.0, 20.0, 25.0, 15.0,...","SLA008, SLF006, SLD060, SLK006, SLK009, SLH006...",2296.0,86.29,201.80,119.85,...,873.11,188.00,4625.0,49226.09,19141.19,5941.06,12.39,91.13,Lunch/Dinner,Lunch
651,Fish Biryani,"Chicken Curry, Ginger Chicken, Chickpea Salad,...","Fish Biryani with Chicken Curry, Ginger Chicke...","Rice, Fish, onion, Spices, curry leaves, Chi...","100, 50, 20, 10.0, 3, 90.0, 10.0, 25.0, 15.0, ...","SLA008, SLF006, SLD060, SLK006, SLK009, SLH006...",2507.0,97.62,204.78,154.65,...,896.32,260.06,5133.0,49343.85,19178.52,6250.07,20.84,93.35,Lunch/Dinner,Lunch
652,Fish Biryani,"Ginger Chicken, Chickpea Salad, Devilled Beef,...","Fish Biryani with Ginger Chicken, Chickpea Sal...","Rice, Fish, onion, Spices, curry leaves, Chi...","100, 50, 20, 5, 3, 100.0, 50.0, 25.0, 60.0, 30...","SLA008, SLF006, SLD060, SLK006, SLK009, SLH006...",2252.0,90.33,141.59,145.70,...,815.90,243.05,4489.0,6311.85,15518.52,5293.07,14.41,93.35,Lunch/Dinner,Lunch

In [98]:
# using Meal time colummn seperate the data into breakfast, lunch and dinner
breakfast_df = df[df['Meal_time'] == 'Breakfast']
lunch_df = df[df['Meal_time'] == 'Lunch']
dinner_df = df[df['Meal_time'] == 'Dinner']

In [99]:
lunch_df.head()

,Main Meal,Side Meal,Complete Meal,Ingredients,Quantities,Meal_Ingredient_Ids,Energy(Kcal),Protein(g),Total fat(g),Carbohydrates(g),...,Magnesium(mg),Sodium(mg),Potassium(mg),Saturated Fatty Acids(mg),Monounsaturated Fatty Acids(mg),Polyunsaturated Fatty Acids(mg),Free sugar(g),Starch(g),Meal Time,Meal_time
13,Lamprais,Chicken Curry,Lamprais with Chicken Curry,"Rice, Meat, Spices, Coconut milk","100.0, 70.0, 15.0, 10.0","SLA008, SLH006, SLK006, SLI005",1056.0,49.28,91.48,98.79,...,488.78,83.53,2514.0,45377.00,15707.00,4012.00,8.98,81.34,Lunch/Dinner,Lunch
14,Lamprais,Chicken Curry,Lamprais with Chicken Curry,"Rice, Meat, Spices, Coconut milk","100.0, 70.0, 15.0, 10.0","SLA008, SLH006, SLK006, SLI005",1056.0,49.28,91.48,98.79,...,488.78,83.53,2514.0,45377.00,15707.00,4012.00,8.98,81.34,Lunch/Dinner,Lunch
30,Vegetable Fried Rice,Chicken Curry,Vegetable Fried Rice with Chicken Curry,"Rice, carrot, leeks, onion, Spices, curry lea...","100.0, 20.0, 20.0, 5.0, 8.0, 2.5, 40.0, 10.0","SLA008, SLB002, SLD055, SLD060, SLK006, SLK009...",1201.0,61.07,93.72,114.85,...,771.20,187.35,3980.0,45955.76,15798.03,5121.79,14.02,90.32,Lunch/Dinner,Lunch
31,Vegetable Fried Rice,Parippu,Vegetable Fried Rice with Parippu,"Rice, carrot, leeks, onion, Spices, curry lea...","100.0, 20.0, 20.0, 5.0, 3.0, 2.5, 10.0, 10.0, 5.0","SLA008, SLB002, SLD055, SLD060, SLK006, SLK009...",1625.0,68.48,90.29,217.58,...,1055.65,193.18,6921.0,46973.82,15304.03,7066.79,17.23,177.04,Lunch/Dinner,Lunch
32,Vegetable Fried Rice,Wambatu Moju,Vegetable Fried Rice with Wambatu Moju,"Rice, carrot, leeks, onion, Spices, curry lea...","100.0, 20.0, 20.0, 10.0, 3.0, 2.5, 20.0, 0.5, 5.0","SLA008, SLB002, SLD055, SLD060, SLK006, SLK009...",820.0,32.13,21.60,110.41,...,688.60,142.92,3294.0,2228.72,11169.48,3959.79,8.74,91.44,Lunch/Dinner,Lunch

In [100]:
# Function to generate a single random meal combination
def generate_random_combination():
    breakfast = breakfast_df.sample(n=1).iloc[0]
    lunch = lunch_df.sample(n=1).iloc[0]
    dinner = dinner_df.sample(n=1).iloc[0]

    # Combine ingredients (unique values only)
    combined_ingredients = set(breakfast['Ingredients'].split(', ') +
                               lunch['Ingredients'].split(', ') +
                               dinner['Ingredients'].split(', '))

    # Calculate the total nutritional values
    total_nutrition = {
        'Total Energy (Kcal)': breakfast['Energy(Kcal)'] + lunch['Energy(Kcal)'] + dinner['Energy(Kcal)'],
        'Total Protein (g)': breakfast['Protein(g)'] + lunch['Protein(g)'] + dinner['Protein(g)'],
        'Total Fat (g)': breakfast['Total fat(g)'] + lunch['Total fat(g)'] + dinner['Total fat(g)'],
        'Total Carbohydrates (g)': breakfast['Carbohydrates(g)'] + lunch['Carbohydrates(g)'] + dinner['Carbohydrates(g)'],
        'Total Magnesium (mg)': breakfast['Magnesium(mg)'] + lunch['Magnesium(mg)'] + dinner['Magnesium(mg)'],
        'Total Sodium (mg)': breakfast['Sodium(mg)'] + lunch['Sodium(mg)'] + dinner['Sodium(mg)'],
        'Total Potassium (mg)': breakfast['Potassium(mg)'] + lunch['Potassium(mg)'] + dinner['Potassium(mg)'],
        'Total Saturated Fatty Acids (mg)': breakfast['Saturated Fatty Acids(mg)'] + lunch['Saturated Fatty Acids(mg)'] + dinner['Saturated Fatty Acids(mg)'],
        'Total Monounsaturated Fatty Acids (mg)': breakfast['Monounsaturated Fatty Acids(mg)'] + lunch['Monounsaturated Fatty Acids(mg)'] + dinner['Monounsaturated Fatty Acids(mg)'],
        'Total Polyunsaturated Fatty Acids (mg)': breakfast['Polyunsaturated Fatty Acids(mg)'] + lunch['Polyunsaturated Fatty Acids(mg)'] + dinner['Polyunsaturated Fatty Acids(mg)'],
        'Total Free Sugar (g)': breakfast['Free sugar(g)'] + lunch['Free sugar(g)'] + dinner['Free sugar(g)'],
        'Total Starch (g)': breakfast['Starch(g)'] + lunch['Starch(g)'] + dinner['Starch(g)']
    }

    return {
        'Breakfast': breakfast['Complete Meal'],
        'Lunch': lunch['Complete Meal'],
        'Dinner': dinner['Complete Meal'],
        'Combined Ingredients': ', '.join(combined_ingredients),
        **total_nutrition
    }

# Generate 1000 combinations
combinations = [generate_random_combination() for _ in range(1000)]

# Convert to DataFrame
combinations_df = pd.DataFrame(combinations)

combinations_df.head()

,Breakfast,Lunch,Dinner,Combined Ingredients,Total Energy (Kcal),Total Protein (g),Total Fat (g),Total Carbohydrates (g),Total Magnesium (mg),Total Sodium (mg),Total Potassium (mg),Total Saturated Fatty Acids (mg),Total Monounsaturated Fatty Acids (mg),Total Polyunsaturated Fatty Acids (mg),Total Free Sugar (g),Total Starch (g)
0,Kurakkan Roti with Chicken Curry,"Red Rice with Devilled Fish, Chickpea Curry, G...",Vegetable Fried Rice with Tapioca Chips,"Chili, Rice, Ginger, onion, carrot, Chillie...",2210.4,79.568,130.264,242.312,1152.126,226.262,5680.4,38322.326,19704.786,6967.434,20.104,195.600
1,"Red Rice with Ash Plantain Curry, Fish Patties...","Red Rice with Chicken Curry, Carrot Curry, Bit...","Vegetable Fried Rice with Devilled Chicken, De...","chillies, Chili, Rice, pepper, Garlic, Carr...",2562.6,118.378,164.012,215.804,1112.994,1566.960,6111.0,39100.084,20366.778,7610.646,22.270,164.192
2,Kurakkan Roti with Lunu Miris,"Red Rice with Carrot Curry, Chickpea Curry, Dr...","Fish Biryani with Chickpea Salad, Devilled Bee...","chillies, Chickpeas, Chili, Rice, Fish, Gi...",3815.6,130.466,259.998,263.400,1193.276,367.702,6668.2,25798.870,22365.424,7981.042,25.274,182.178
3,"Red Rice with Sweet Corn Curry, Radish Sambol,...",Roast Bread with Polos Ambula,Seafood Fried Rice with Ginger Chicken,"chillies, pepper, Rice, Radish, Oninon, su...",2629.2,113.902,181.338,208.382,1050.815,461.512,5683.4,42513.290,16159.445,6494.613,22.945,170.442
4,"Red Rice with Bitter Gourd Curry, Soya Meat Cu...","Vegetable Biryani with Ginger Chicken, Chickpe...","Chicken Fried Rice with Green Pea Curry, potat...","Fenugreek, Chickpeas, Rice, pepper, Ginger, ...",4836.6,216.136,284.356,366.976,2000.258,1842.868,11163.4,28413.042,37496.122,14798.344,27.642,268.130

In [101]:
combinations_df.shape

(1000, 16)

In [102]:
# sort total calories in ascending order
combinations_df.sort_values(by='Total Energy (Kcal)', inplace=True)
combinations_df.head()

,Breakfast,Lunch,Dinner,Combined Ingredients,Total Energy (Kcal),Total Protein (g),Total Fat (g),Total Carbohydrates (g),Total Magnesium (mg),Total Sodium (mg),Total Potassium (mg),Total Saturated Fatty Acids (mg),Total Monounsaturated Fatty Acids (mg),Total Polyunsaturated Fatty Acids (mg),Total Free Sugar (g),Total Starch (g)
25,Pol Roti with Lunu Miris,"Red Rice with Sweet Corn Curry, Octopus Curry,...",Kurakkan Roti with Malu Mirisata,"Fish, Lime, Octopus, Coconut, Chili, Coconut...",829.2,41.270,23.838,135.932,316.336,146.141,1892.8,13896.921,1887.151,2145.956,7.591,115.489
553,"Red Rice with Jackfruit Curry, Gotu Kola Sambo...","Red Rice with Bean Curry, Kohila Curry, Sinhal...",Pol Roti with Malu Mirisata,"Kohila, Chili, pepper, Bitter leaves, Radish...",1206.4,51.493,89.620,141.650,824.887,189.243,5061.2,49671.970,13387.358,5413.956,15.036,110.450
253,Pol Roti with Seeni Sambol,"Red Rice with Papaya Curry, Octopus Curry, Mur...",Vegetable Kottu with Devilled Fish,"chillii, Chili, Octopus, leeks, Coconut, C...",1218.2,32.350,63.099,153.910,357.958,137.703,2009.6,13866.550,1510.705,2169.330,37.761,107.162
734,"Red Rice with Sweet Corn Curry, Pumpkin Leaves...","Red Rice with Bean Curry, Coconut Sambol, Beet...","Red Rice with Devilled Chicken, Ginger Chicken...","chillies, Chili, pepper, Radish, Beans, Gi...",1230.4,52.464,93.712,151.588,692.916,153.904,4295.2,54048.372,10245.012,5045.620,14.608,118.172
223,"Red Rice with Chicken Curry, Devilled Fish, Ve...","Red Rice with Pumpkin Leaves Curry, Okra Curry...",Pol Roti with Malu Mirisata,"Chili, pepper, Radish, Coconut, Carrot, Coc...",1247.6,63.073,86.008,153.806,585.555,132.971,3717.2,49235.534,9458.750,4239.952,12.460,103.514

In [103]:
# describe data set
combinations_df.describe()

,Total Energy (Kcal),Total Protein (g),Total Fat (g),Total Carbohydrates (g),Total Magnesium (mg),Total Sodium (mg),Total Potassium (mg),Total Saturated Fatty Acids (mg),Total Monounsaturated Fatty Acids (mg),Total Polyunsaturated Fatty Acids (mg),Total Free Sugar (g),Total Starch (g)
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2835.350950,114.159450,197.281909,247.995675,1240.672212,844.635821,7028.205982,57340.518913,26259.537509,9595.186787,30.540107,184.662930
std,881.010929,40.297518,70.842908,71.293400,451.232325,1467.321839,2481.019625,22856.379727,12819.456268,3970.510449,17.415529,57.676806
min,829.200000,32.350000,23.838000,120.974000,316.336000,70.669000,1892.800000,2307.113000,1510.705000,2145.956000,7.591000,90.618000
25%,2175.850000,81.284000,145.937750,194.885500,873.476000,275.270000,5115.936500,39903.880000,18119.796000,6847.469000,19.141500,143.926000
50%,2707.550000,112.924000,189.576000,238.113000,1225.262000,382.421500,6868.700000,55357.408000,24346.246000,8879.813000,24.943500,175.234250
75%,3410.550000,139.519500,241.917000,284.778000,1506.366000,599.576500,8492.225000,73708.291500,30784.715500,11323.189500,33.265500,214.994750
max,5898.400000,269.204000,466.630000,555.157500,2811.266000,14490.998000,17424.000000,140396.540000,74279.480000,25698.152000,114.558000,445.304000

In [104]:
# load to csv file
combinations_df.to_csv('final_meal_combinations_dataset.csv', index=False)